parameters:
    level: max
    paths:
        - app
        - config
        - core
        - modules
        - addons
        - database
        - public
        - tests
        - tools
    tmpDir: storage/cache/phpstan
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
